h1 {
  text-align: center;
  color: green
}

.card {
  border: 2px solid black;
  min-width: 25%;
  max-width: 50%;

  text-align: center;
  min-height: 250px;
}

.kill-button{
  background-color: red;
}